{:highlights [{:id #uuid "658bd99d-3618-428f-987c-80a0aed62931",
               :page 1,
               :position {:bounding {:x1 125.546875,
                                     :y1 680.703125,
                                     :x2 452.04742431640625,
                                     :y2 760.5,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 174.3260955810547,
                                   :y1 680.703125,
                                   :x2 449.1422576904297,
                                   :y2 700.703125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 125.546875,
                                   :y1 700.625,
                                   :x2 451.8887634277344,
                                   :y2 720.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 125.546875,
                                   :y1 720.5625,
                                   :x2 451.892578125,
                                   :y2 740.5625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 125.546875,
                                   :y1 740.5,
                                   :x2 452.04742431640625,
                                   :y2 760.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Our findings reveal that while fine-tuning offers some improvement, RAG consistently outperforms it, both for existing knowledge encountered during training and entirely new knowledge."},
               :properties {:color "yellow"}}
              {:id #uuid "658bd9fb-df7d-49fa-9e5a-0120275d8201",
               :page 1,
               :position {:bounding {:x1 125.546875,
                                     :y1 760.421875,
                                     :x2 449.14349365234375,
                                     :y2 800.359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 201.94064331054688,
                                   :y1 760.421875,
                                   :x2 449.14349365234375,
                                   :y2 780.421875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 125.546875,
                                   :y1 780.359375,
                                   :x2 415.0658874511719,
                                   :y2 800.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "we find that LLMs struggle to learn new factual information through fine-tuning"},
               :properties {:color "blue"}}
              {:id #uuid "658bda1e-0ba2-4bc0-8ea4-e310141faaf8",
               :page 1,
               :position {:bounding {:x1 92.40625,
                                     :y1 969.515625,
                                     :x2 482.41748046875,
                                     :y2 1029.375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 296.65350341796875,
                                   :y1 969.515625,
                                   :x2 482.41546630859375,
                                   :y2 989.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 92.40625,
                                   :y1 989.4375,
                                   :x2 482.41748046875,
                                   :y2 1009.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 92.40625,
                                   :y1 1009.375,
                                   :x2 236.4771728515625,
                                   :y2 1029.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "LLMs exhibit a remarkable level of knowledge in various domains due to their massive pre-training datasets"},
               :properties {:color "yellow"}}
              {:id #uuid "658bda40-31df-4b79-aedd-1f3e52d738fc",
               :page 1,
               :position {:bounding {:x1 92.40625,
                                     :y1 1029.3125,
                                     :x2 482.40948486328125,
                                     :y2 1069.234375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 381.2584533691406,
                                   :y1 1029.3125,
                                   :x2 482.40948486328125,
                                   :y2 1049.3125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 92.40625,
                                   :y1 1049.234375,
                                   :x2 233.8388671875,
                                   :y2 1069.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "tatic and does not update with time"},
               :properties {:color "blue"}}
              {:id #uuid "658bda48-2192-43fd-b30c-f908f4ae3846",
               :page 1,
               :position {:bounding {:x1 92.40625,
                                     :y1 1049.234375,
                                     :x2 482.4056396484375,
                                     :y2 1089.171875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 333.060302734375,
                                   :y1 1049.234375,
                                   :x2 482.4056396484375,
                                   :y2 1069.234375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 92.40625,
                                   :y1 1069.171875,
                                   :x2 434.65032958984375,
                                   :y2 1089.171875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "non-specific and thus may lack nuanced expertise in particular domains"},
               :properties {:color "blue"}}
              {:id #uuid "658bdbae-e955-4522-8c90-fd1384eab0c9",
               :page 1,
               :position {:bounding {:x1 512.4375,
                                     :y1 376.5625,
                                     :x2 905.2080078125,
                                     :y2 436.4375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 655.3145141601562,
                                   :y1 376.5625,
                                   :x2 902.4417724609375,
                                   :y2 396.5625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 512.4375,
                                   :y1 396.5,
                                   :x2 905.2080078125,
                                   :y2 416.5,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 512.4375,
                                   :y1 416.4375,
                                   :x2 541.0717163085938,
                                   :y2 436.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "adapting LLMs to particular domains and updating their knowledge has become increasingly common"},
               :properties {:color "yellow"}}
              {:id #uuid "658bdc17-09ea-431b-a5b4-850e442d7d33",
               :page 1,
               :position {:bounding {:x1 512.4375,
                                     :y1 526,
                                     :x2 905.2026977539062,
                                     :y2 585.859375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 713.5128173828125,
                                   :y1 526,
                                   :x2 905.2026977539062,
                                   :y2 546,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 512.4375,
                                   :y1 545.921875,
                                   :x2 902.4459228515625,
                                   :y2 565.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 512.4375,
                                   :y1 565.859375,
                                   :x2 601.2094116210938,
                                   :y2 585.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "valuation of a model’s knowledge and its ability to memorize, understand, and retrieve factual data. "},
               :properties {:color "yellow"}}
              {:id #uuid "658bdc22-35b6-4401-a0d0-1790090b7873",
               :page 1,
               :position {:bounding {:x1 512.4375,
                                     :y1 565.859375,
                                     :x2 905.1328125,
                                     :y2 605.78125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 859.03125,
                                   :y1 565.859375,
                                   :x2 905.1328125,
                                   :y2 585.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 512.4375,
                                   :y1 585.78125,
                                   :x2 608.7118530273438,
                                   :y2 605.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "knowledge injection"},
               :properties {:color "green"}}],
 :extra {:page 1}}
